라이브러리

In [72]:
import pandas as pd

파일

In [73]:
path = '/content/drive/MyDrive/elice_데이터분석_프로젝트/data/words'
filename = 'NGSL+1.01+by+band.xlsx'

In [74]:
data1 = pd.read_excel(f'{path}/{filename}', sheet_name=0, header=None)
data2 = pd.read_excel(f'{path}/{filename}', sheet_name=1, header=None)
data3 = pd.read_excel(f'{path}/{filename}', sheet_name=2, header=None)
display(data1.info(), data1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   int64
 1   1       1000 non-null   object
 2   2       825 non-null    object
 3   3       595 non-null    object
 4   4       542 non-null    object
 5   5       146 non-null    object
 6   6       47 non-null     object
 7   7       16 non-null     object
 8   8       11 non-null     object
 9   9       5 non-null      object
 10  10      2 non-null      object
 11  11      1 non-null      object
 12  12      1 non-null      object
 13  13      1 non-null      object
 14  14      1 non-null      object
 15  15      1 non-null      object
 16  16      1 non-null      object
 17  17      1 non-null      object
 18  18      1 non-null      object
dtypes: int64(1), object(18)
memory usage: 148.6+ KB

None

   0    1     2    3    4    5   ...    13    14     15     16    17      18
0   1  the   NaN  NaN  NaN  NaN  ...   NaN   NaN    NaN    NaN   NaN     NaN
1   2   be    am    m   is  isn  ...  wasn  were  weren  being  bein  beings
2   3  and  ands  NaN  NaN  NaN  ...   NaN   NaN    NaN    NaN   NaN     NaN
3   4   of   NaN  NaN  NaN  NaN  ...   NaN   NaN    NaN    NaN   NaN     NaN
4   5   to   NaN  NaN  NaN  NaN  ...   NaN   NaN    NaN    NaN   NaN     NaN

[5 rows x 19 columns]

NaN 데이터들을 공백문자('')로 채워줌

In [75]:
data1 = data1.fillna('')
data2 = data2.fillna('')
data3 = data3.fillna('')
data1.head()

   0    1     2  3   4    5  6   ...   12    13    14     15     16    17      18
0   1  the                       ...
1   2   be    am  m  is  isn  s  ...  was  wasn  were  weren  being  bein  beings
2   3  and  ands                 ...
3   4   of                       ...
4   5   to                       ...

[5 rows x 19 columns]

컬럼 2에 그 뒤의 값들을 모으고 세미콜론을 구분자로 넣어줌

In [76]:
# display(data1.iloc[:, 2:],
# data1[list(range(2, 19))])
data1[2] = data1.iloc[:, 2:].agg(';'.join, axis=1).str.rstrip(';')
data2[2] = data2.iloc[:, 2:].agg(';'.join, axis=1).str.rstrip(';')
data3[2] = data3.iloc[:, 2:].agg(';'.join, axis=1).str.rstrip(';')
data1

       0           1   ...    17      18
0       1         the  ...
1       2          be  ...  bein  beings
2       3         and  ...
3       4          of  ...
4       5          to  ...
..    ...         ...  ...   ...     ...
995   996  generation  ...
996   997    estimate  ...
997   998    favorite  ...
998   999  difficulty  ...
999  1000    purchase  ...

[1000 rows x 19 columns]

컬럼 3부터는 필요없으니 삭제

In [77]:
data1 = data1.iloc[:, 1:3]
data2 = data2.iloc[:, 1:3]
data3 = data3.iloc[:, 1:3]
data1

              1                                                  2
0           the
1            be  am;m;is;isn;s;are;re;aren;ain;been;was;wasn;we...
2           and                                               ands
3            of
4            to
..          ...                                                ...
995  generation                                        generations
996    estimate                     estimates;estimated;estimating
997    favorite                     favorites;favourite;favourites
998  difficulty                                       difficulties
999    purchase                     purchases;purchased;purchasing

[1000 rows x 2 columns]

데이터프레임 합치기 (data1, data2, data3)

In [78]:
result = pd.concat([data1, data2, data3]).reset_index(drop=True)
display(len(result), result)

2801

            1                                                  2
0         the
1          be  am;m;is;isn;s;are;re;aren;ain;been;was;wasn;we...
2         and                                               ands
3          of
4          to
...       ...                                                ...
2796   hunger                         hungers;hungered;hungering
2797   insure                           insures;insured;insuring
2798  ashamed
2799    found                            founds;founded;founding
2800   thirst                         thirsts;thirsted;thirsting

[2801 rows x 2 columns]

컬럼명 변경

In [79]:
result = result.rename(columns={1:'Word', 2:'Lemmas'})
result

         Word                                             Lemmas
0         the
1          be  am;m;is;isn;s;are;re;aren;ain;been;was;wasn;we...
2         and                                               ands
3          of
4          to
...       ...                                                ...
2796   hunger                         hungers;hungered;hungering
2797   insure                           insures;insured;insuring
2798  ashamed
2799    found                            founds;founded;founding
2800   thirst                         thirsts;thirsted;thirsting

[2801 rows x 2 columns]

파일로 내보내기

In [80]:
# path = '/content/drive/MyDrive/elice_데이터분석_프로젝트/data/words'
result.to_csv(f'{path}/ngsl_with_lemmas.csv', index=False)

In [81]:
# # lemmas의 개수가 달라서 컬럼 숫자가 다름. 그로인한 오류를 방지하기 위해 일단 컬럼수를 50으로 잡아줌
# bsl_df = pd.read_csv("./word_data/BSL_1.01_lemmatized_for_research.csv", header=None, names=range(50))
# # 컬럼 전체가 NaN인 컬럼은 떨궈줌
# bsl_df = bsl_df.dropna(axis=1, how='all') 
# # NaN 값을 '' 로 바꾼후 word1;word2;word3 로 컬럼 저장
# bsl_df = bsl_df.fillna('')
# bsl_df['Lemmas'] = bsl_df[list(range(1, 14))].agg(';'.join, axis=1).str.rstrip(';')
# bsl_df = bsl_df.rename(columns={0: "Word"})
# # Word, Lemmas 컬럼 빼고 다 떨궈줌
# bsl_df = bsl_df.drop(bsl_df.columns.difference(['Word', 'Lemmas']), 1)
# bsl_df.to_csv("bsl_with_lemmas.csv", index=False)