In [97]:
import requests
import pandas as pd

## 고유 명사 여부 판단하는 함수
### 'pos' 항목이 'proper noun'이라면 고유명사

In [98]:
def get_proper_noun(word):
  headers = {'User-Agent':'Chrome/66.0.3359.181'}

  # keyword = str(word)
  url = 'https://wordtype.org/api/senses?term=' + str(word)
  res = requests.get(url, headers=headers)
  result = res.json()
  try:
    word_pos = result[0]['pos']
    # [{
    # '_id': '5748c9b100537df24c97c5cb', 
    # 'lemma': 'Baltimore', 
    # 'pos': 'proper noun', 
    # 'lexicalEntryId': 'WktEN_lexicalEntry_40977', 
    # 'senses': [{'label': '', 'definition': 'A city in central Maryland, USA', 'examples': [], 'relations': []}]
    # }]
    if word_pos.strip() == 'proper noun':
      return True

    return False
  except:
    pass

# TEST CODE
print(get_proper_noun('baltimore'))

True

## 파일 불러오기

In [99]:
path = '../final_datasets/words_df_final_naver.csv'
naver_words = pd.read_csv(path)
naver_words['proper_noun'] = False

display(len(naver_words), naver_words.head())

32738

,Word,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun
0,a,NN,0.0,0.0,NN,Y,N,N,N,A1,A1,2,True,False
1,aback,NN,0.0,0.0,NN,N,N,N,N,B3,C1,0,False,False
2,abacus,NN,0.0,0.0,NN,N,N,N,N,C3,C3,1,True,False
3,abalone,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,True,False
4,abandon,B2,3000.0,0.0,NN,N,N,N,N,A2,A3,2,True,False

## 크롤링
### 데이터 분석 목적의 서버가 아니라면.. colab에서 돌리는 걸 추천!

In [ ]:
path = '../final_datasets/words_df_final_naver_proper_noun'

# 총 32738개이므로 range(0, 33)로 돌려야 함
for i in range(0, 16):
    start = i * 1000
    number = 1000

    df_tmp = naver_words[start:start+number].copy()
    df_tmp['proper_noun'] = df_tmp.Word.map(get_proper_noun)

    
    last = start + number
    df_tmp.to_csv(path+'_'+str(start)+'_'+str(last)+'.csv')

## 데이터 합치기
### words_df_final_naver_proper_noun_0_1000 ~ words_df_final_naver_proper_noun_32000_33000까지 합치기

In [117]:
path = '../final_datasets/words_df_final_naver_proper_noun'
file_name = path + '_0_1000.csv'
df_result = pd.read_csv(file_name)
df_result.drop(['Unnamed: 0'], axis = 1, inplace = True)
df_result

,Word,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun
0,a,NN,0.0,0.0,NN,Y,N,N,N,A1,A1,2,True,False
1,aback,NN,0.0,0.0,NN,N,N,N,N,B3,C1,0,False,False
2,abacus,NN,0.0,0.0,NN,N,N,N,N,C3,C3,1,True,False
3,abalone,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,True,False
4,abandon,B2,3000.0,0.0,NN,N,N,N,N,A2,A3,2,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ammonium,NN,0.0,9.0,science,N,N,N,N,C1,C1,0,True,False
996,ammunition,NN,0.0,5.0,social_studies,N,N,N,N,B2,B1,1,True,False
997,amnesia,NN,0.0,0.0,NN,N,N,N,N,C1,C1,0,True,False
998,amnesty,NN,0.0,9.0,social_studies,N,N,N,N,B2,B1,0,True,False
999,amniocentesis,NN,0.0,0.0,NN,N,N,N,N,C3,C3,0,True,False

In [130]:
path = '../final_datasets/words_df_final_naver_proper_noun'
file_name = path + '_0_1000.csv'
df_result = pd.read_csv(file_name, index_col=False)
df_result.drop(['Unnamed: 0'], axis = 1, inplace = True)

for i in range(1, 33):
    start = i * 1000
    number = 1000
    last = start + number

    file_name = path + '_' + str(start) + '_' + str(last) + '.csv'
    
    df_data = pd.read_csv(file_name, index_col=False)
    df_data.drop(['Unnamed: 0'], axis=1, inplace=True)
    df_result = pd.concat([df_result, df_data])

df_result.reset_index(drop=True, inplace=True)
display(len(df_result), df_result)

df_result.to_csv(path + '.csv', index=False)

32738

,Word,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun
0,a,NN,0.0,0.0,NN,Y,N,N,N,A1,A1,2,True,False
1,aback,NN,0.0,0.0,NN,N,N,N,N,B3,C1,0,False,False
2,abacus,NN,0.0,0.0,NN,N,N,N,N,C3,C3,1,True,False
3,abalone,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,True,False
4,abandon,B2,3000.0,0.0,NN,N,N,N,N,A2,A3,2,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32733,zygomorphic,NN,0.0,0.0,NN,N,N,N,N,C4,NN,0,False,False
32734,zygosity,NN,0.0,0.0,NN,N,N,N,N,C4,NN,0,False,False
32735,zygote,NN,0.0,6.0,science,N,N,N,N,C1,C3,0,True,False
32736,zygotic,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,False,False
32737,émigré,NN,0.0,0.0,NN,N,N,N,N,C2,C2,0,False,False

In [131]:
test = pd.read_csv(path + '.csv')

test

,Word,oxford_level,oxford_version,lexile_grade,lexile_category,awsl,toefl,tsl,bsl,ngsl_freq,ngsl_sp_freq,naver_priority,lemmetized,proper_noun
0,a,NN,0.0,0.0,NN,Y,N,N,N,A1,A1,2,True,False
1,aback,NN,0.0,0.0,NN,N,N,N,N,B3,C1,0,False,False
2,abacus,NN,0.0,0.0,NN,N,N,N,N,C3,C3,1,True,False
3,abalone,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,True,False
4,abandon,B2,3000.0,0.0,NN,N,N,N,N,A2,A3,2,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32733,zygomorphic,NN,0.0,0.0,NN,N,N,N,N,C4,NN,0,False,False
32734,zygosity,NN,0.0,0.0,NN,N,N,N,N,C4,NN,0,False,False
32735,zygote,NN,0.0,6.0,science,N,N,N,N,C1,C3,0,True,False
32736,zygotic,NN,0.0,0.0,NN,N,N,N,N,C3,NN,0,False,False
32737,émigré,NN,0.0,0.0,NN,N,N,N,N,C2,C2,0,False,False